/* utils */

.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: 70vh;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.hidden {
  display: none;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }

  50% {
    color: var(--prim-text-color);
  }
}

.wb-body {
  background: #111111 !important;
  padding: 1rem;
}